[submodule "LorittaLocales"]
	path = LorittaLocales
	url = https://github.com/LorittaBot/LorittaLocales
[submodule "ShowtimeExtras"]
	path = ShowtimeExtras
	url = https://github.com/LorittaBot/ShowtimeExtras
[submodule "backend/src/main/sass/backend/src/main/sass/lovely-style"]
	path = backend/src/main/sass/backend/src/main/sass/lovely-style
	url = https://github.com/PerfectDreams/lovely-style/
